input#minWeight {
    width: 5em;
}

div#minWeightSlider {
    width: 18em;
    margin: 0 1em;
}
.node {
    stroke: #fff;
    stroke-width: .5px;
}

.node text {
    pointer-events: none;
    font: 1em sans-serif;
    font-weight: bolder;
}

.link {
    stroke-opacity: .5;
}

.link.Romantic     { stroke: red; }

.link.Professional { stroke: blue; }

.link.Familial     { stroke: green; }