body {
	font: 1em sans-serif;
}

svg#templates { 
	width: 0;
	height: 0;
	display: block;
}

div#controls {
	display: flex;
}

div.box {
	padding: 0 .5em;
}

#typeFilter label { 
	border: 1px solid black !important;
	color: black !important;
	}
label#rlabel { background: rgba(255, 0, 0, .5); }
label#plabel { background: rgba(0, 0, 255, .5); }
label#flabel { background: rgba(0, 255, 0, .5); }

label.ui-checkboxradio-checked {
	background: grey !important;
}

div#weightFilter { }

input#weightFilterDisp {
    width: 3em;
}

div#weightFilterSlider {
    width: 100%;
    margin: .5em 0em;
}

 circle.node {
    stroke: black;
    stroke-width: .1em;
	fill: grey;
}

.node text {
    pointer-events: none;
    font: 1em sans-serif;
    font-weight: bolder;
}

.pJaune		{ fill: Yellow	!important; }
.pRuby		{ fill: Red		!important; }
.pWeiss		{ fill: White	!important; }
.pBlake		{ fill: Black	!important; }
.pYang		{ fill: Yellow	!important; }
.pPyrrha	{ fill: Red		!important; }
.pNora		{ fill: Pink	!important; }
.pGlynda	{ fill: Purple	!important; }
.pWinter	{ fill: White	!important; }
.pSaphron	{ fill: Yellow	!important; }

.link {
    stroke-opacity: .5;
}

.link.Romantic     { stroke: red; }

.link.Professional { stroke: blue; }

.link.Familial     { stroke: green; }

 text.edgeDesc {
	text-anchor: middle;
	font: .75em sans-serif;
}